/* Add a black background color to the top navigation */
.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 6px 24px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 300 !important;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: #ddd;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: white;
    color: black;
}

.box{
    width: 25%;
    height: 240px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    text-align:center;
}

.item-size{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
}
img{
    object-fit: contain;
}

.aa-link{
    text-decoration: none !important;
    color: black;
}