@model IEnumerable<TrangSucSolution.Models.TrangSuc>

@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

<h2>GioHang</h2>
<div class="container row">
    <div class="col-md-7">
        <h3>Thong tin nguoi mua</h3>
        <form id="thongtinkhachhang">
            <div class="form-check form-check-inline">
                <input id="sex-nam" class="form-check-input" value="nam" type="radio" checked />
                <label for="sex-nam" class="form-check-label">Nam</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="sex-nu" class="form-check-input" value="nu" type="radio" />
                <label for="sex-nu" class="form-check-label">Nu</label>
            </div>
            <div class="form-group">
                <label>Ho Ten</label>
                <input class="form-control" type="text" placeholder="Ho Ten"/>
            </div>
        </form>
    </div>
    <div class="col-md-5 bg-info">holle</div>
</div>


